body {
    margin: 0px;
    padding: 30px;
    background-attachment: fixed;
    background-image: url(./bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    color: #F4F4F4;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #CFE6DE;
    text-decoration: none;
}

a:hover { color: #B0C3BD; }

a:visited { color: #CFE6DE; }

a:visited:hover { color: #B0C3BD; }

a:active { color: #CFE6DE; }

img {
  padding: 0px;
  margin: 0px;
  border:0 px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 18pt;
  color: white;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.container {
  width:80%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top:8%;
}

.title{ 
  padding: 20px 0 30px 0;
}

.titleEN{
  font-size: 12pt;
  }

.langName{
  padding: 0 70px 0 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #A1B3AF;
  font-size: 14pt;
  font-weight: bold;
  height: 300px;
  float: left;
  line-height: 19pt;
}

.langInfo{
  font-family: Arial, Helvetica, sans-serif;
  color: #A1B3AF;
  font-size: 12pt;
  font-weight: bold;
  height: 300px;
  float: left;
  line-height: 19pt;
}

.logo{
  height: 300px;
  float: right;
  }